
<div class="ui internally celled grid" style="height:100%;width:100%">

  <div class="row centered" style="text-align:center">
    <h1>
      Angular Test {{title}}
    </h1>
  </div>

  <div class="two column row" style="height:50%">
    <div class="column">
      <data-table>
      </data-table>
    </div>
    <div class="column">
      <d3-bar>
      </d3-bar>
    </div>
  </div>
  <div class="three column row" style="height:40%">
    <div class="column">
      <gmap-basic>
      </gmap-basic>
    </div>
    <div class="column">
      <div #divForThreejs  style="width:100%;height:100%">
      <threejs-basic  #divForThreejs>
      </threejs-basic>
      </div>
    </div>
    <div class="column">
      <div>
      <!--<unity-basic>
      </unity-basic>-->
      </div>
    </div>
  </div>
  <div class="one column row" style="height:50%">
    <div class="column">
      <sage2ws>
      </sage2ws>
    </div>
  </div>
</div>

